<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_03_Security:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_03_Security_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_03_Security" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-acl:5.3.12.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:5.3.12.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:5.3.12.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-taglibs:5.3.12.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:5.3.12.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context-support:5.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.2.6" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.2.6" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.13.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.13.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.13.0" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.32" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="Spring_03_Security/web/Web" />
    </root>
  </artifact>
</component>